@use "../Layout/styles.scss" as layout;
.menuCard {

    background: transparent linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    width: 80%;
    box-shadow: 0px 5px 9px #8395A766;
    opacity: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    .menuCard__icono {
      width: 40%;
      height: 80px;
      margin-bottom: 5px;
      margin-top:auto;
   
    }
  
    p {
      margin-top: 0;
      margin-bottom:auto;
      font-family: "Poppins";
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      opacity: 100%;
      text-align: center;
     color: #425966;
    
    }
  
    @include layout.respond-to(large) {
        display: none;
        }
   
  }

  

  

  
