@use "../Layout/styles.scss" as layout;

@include layout.respond-to(small) {
  .detail {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -30%);
    padding: 0px 20px 20px 20px;
    width: 50%;
    opacity: 1;
    background-color: #6aa3c1;
    border-radius: 20px;
    z-index: 1000;
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
  }

  .hidden {
    display: none;
  }
  .recipe-detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 10px;
  }

  .recipe-detail__header__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .recipe-detail__figure__img {
    width: 80%;

    border-radius: 20px;
    margin-top: -40px;
  }

  .recipe-detail__ingredients {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    list-style: circle;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
  }

  h1 {
    font-size: 40px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Monster Clubhouse", cursive;
    font-style: normal;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
    font-style: normal;
    padding-left: 20px;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
}
@include layout.respond-to(medium) {
  .detail {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -30%);
    padding: 0px 20px 20px 20px;
    width: 50%;
    opacity: 1;
    background-color: #6aa3c1;
    border-radius: 20px;
    z-index: 1000;
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
  }

  .hidden {
    display: none;
  }
  .recipe-detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 10px;
  }

  .recipe-detail__header__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .recipe-detail__figure__img {
    width: 80%;

    border-radius: 20px;
    margin-top: -40px;
  }

  .recipe-detail__ingredients {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    list-style: circle;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
  }

  h1 {
    font-size: 40px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Monster Clubhouse", cursive;
    font-style: normal;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
    font-style: normal;
    padding-left: 20px;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
}

@include layout.respond-to(large) {
  .detail {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    right: 20px;
    left: auto;
    padding: 0px 20px 20px 20px;
    width: 50%;
    min-width: 300px;
    max-width: 300px;
    height: calc(100vh - 68px);
    opacity: 1;
    background-color: #6aa3c1;
    border-radius: 20px;
    z-index: 1000;
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
  }

  .hidden {
    display: none;
  }
  .recipe-detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 10px;
  }

  .recipe-detail__header__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .recipe-detail__figure__img {
    width: 80%;

    border-radius: 20px;
    margin-top: -40px;
  }

  .recipe-detail__ingredients {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    list-style: circle;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
  }

  h1 {
    font-size: 40px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Monster Clubhouse", cursive;
    font-style: normal;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
    font-style: normal;
    padding-left: 20px;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
}
