@use "../Layout/styles.scss" as layout;

@include layout.respond-to(small) {
}
@include layout.respond-to(medium) {
  .detail {
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: 20px;
    border: 1px solid #000;
    width: 300px;
    height: calc(100vh - 68px);
    margin-top: 20px;
    background-color: #e9f1fa;
    opacity: 1;
    overflow-y: auto;
  }

  .hidden {
    display: none;
  }
  .recipe-detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .recipe-detail__header__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .recipe-detail__figure__img {
    width: 80%;

    border-radius: 20px;
    margin-top: -40px;
  }

  .recipe-detail__ingredients {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    list-style: circle;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
  }

  h1 {
    font-size: 40px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Monster Clubhouse", cursive;
    font-style: normal;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
    font-style: normal;
    padding-left: 20px;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
}

@include layout.respond-to(large) {
  .detail {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    border: 1px solid #000;
    width: 300px;
    height: calc(100vh - 68px);
    margin-top: 20px;
    background-color: #e9f1fa;
    opacity: 1;
    overflow-y: auto;
  }

  .hidden {
    display: none;
  }
  .recipe-detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .recipe-detail__header__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .recipe-detail__figure__img {
    width: 80%;

    border-radius: 20px;
    margin-top: -40px;
  }

  .recipe-detail__ingredients {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    list-style: circle;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
  }

  h1 {
    font-size: 40px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Monster Clubhouse", cursive;
    font-style: normal;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
    font-style: normal;
    padding-left: 20px;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    color: #d84a4a;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-style: normal;
    padding-left: 20px;
  }
}
