@use "../Layout/styles.scss" as layout;

@include layout.respond-to(small) {
  .hero {
    background-image: url("../../assets/banner.png");
    width: 100%;
    height: 400px;
    margin-top: -65px;
    background-size: cover;
    background-position: 40% 60%;
    background-repeat: no-repeat;
  }
  .hero__recipes {
    font-family: "Poppins", sans-serif;
    font-size: 300%;
    font-weight: 400;
    color: white;
    position: relative;
    z-index: 2;
    left: 15%;
    width: 100%;
    top: 150px;
  }
  .hero__people {
    font-family: "Monster Clubhouse", cursive;
    font-size: 300%;
    font-weight: 400;
    color: white;
    position: relative;
    z-index: 2;
    left: 15%;
    width: 100%;
    top: 85px;
  }
}

@include layout.respond-to(medium) {
  .hero {
    background-image: url("../../assets/banner.png");
    width: 100%;
    height: 400px;
    margin-top: -45px;
    background-size: cover;
    background-position: 40% 60%;
    background-repeat: no-repeat;
  }
  .hero__recipes {
    font-family: "Poppins", sans-serif;
    font-size: 300%;
    font-weight: 400;
    color: white;
    position: absolute;
    z-index: 2;
    left: 16%;
    width: 100%;
    top: 70px;
  }
  .hero__people {
    font-family: "Monster Clubhouse", cursive;
    font-size: 300%;
    font-weight: 400;
    color: white;
    position: absolute;
    z-index: 2;
    left: 16%;
    width: 100%;
    top: 130px;
  }
}

.hero {
  background-image: url("../../assets/banner.png");
  width: 100%;
  height: 900px;
  background-size: 120% auto; // Cambiado de 'cover' a '120% auto'
  background-position: center top;
  background-repeat: no-repeat;
}
.hero__recipes {
  font-family: "Poppins", sans-serif;
  font-size: 400%;
  font-weight: 400;
  color: white;
  position: absolute;
  z-index: 2;
  left: 16%;
  width: 100%;
  top: 150px;
}
.hero__people {
  font-family: "Monster Clubhouse", cursive;
  font-size: 400%;
  font-weight: 400;
  color: white;
  position: absolute;
  z-index: 2;
  left: 16%;
  width: 100%;
  top: 200px;
}
