@use "../Layout/styles.scss" as layout;

@include layout.respond-to(small) {
  .hero {
    background-image: url("../../assets/banner.png");
    width: 100%;
    height: 400px;
    margin-top: -65px;
    background-size: cover; //170% auto
    background-position: 55% 70%;
    background-repeat: no-repeat;
  }
  .hero__recipes {
    font-family: "Poppins", sans-serif;
    font-size: 300%;
    font-weight: 400;
    color: white;
    position: relative;
    z-index: 2;
    left: 8%;
    width: 100%;
    top: 150px;
  }
  .hero__people {
    font-family: "Monster Clubhouse", cursive;
    font-size: 300%;
    font-weight: 400;
    color: white;
    position: relative;
    z-index: 2;
    left: 8%;
    width: 100%;
    top: 85px;
  }
}

@include layout.respond-to(medium) {
  .hero {
    background-image: url("../../assets/banner.png");
    width: 100%;
    height: 400px;
    margin-top: -45px;
    background-size: cover; // 110% auto
    background-position: 10% 90%;
    background-repeat: no-repeat;
  }
  .hero__recipes {
    font-family: "Poppins", sans-serif;
    font-size: 74px;
    font-weight: 400;
    color: white;
    position: absolute;
    z-index: 2;
    left: 17%;
    width: 100%;
    top: 75px;
  }
  .hero__people {
    font-family: "Monster Clubhouse", cursive;
    font-size: 67px;
    font-weight: 400;
    color: white;
    position: absolute;
    z-index: 2;
    left: 17%;
    width: 100%;
    top: 140px;
  }
}

@include layout.respond-to(large) {
  .hero {
    background-image: url("../../assets/banner.png");
    width: 100%;
    height: 600px;
    background-size: cover; //130% auto; // Cambiado de 'cover' a '120% auto'
    background-position: 1% 99%;
    background-repeat: no-repeat;
  }
  .hero__recipes {
    font-family: "Poppins", sans-serif;
    font-size: 74px;
    font-weight: 400;
    color: white;
    position: relative;
    z-index: 2;
    left: 300px;
    width: 100%;
    top: 180px;
  }
  .hero__people {
    font-family: "Monster Clubhouse", cursive;
    font-size: 67px;
    font-weight: 400;
    color: white;
    position: relative;
    z-index: 2;
    left: 300px;
    width: 100%;
    top: 85px;
  }
}
