@use "../../components/Layout/styles.scss" as layout;

.container__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@include layout.respond-to(small) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
}

@include layout.respond-to(medium) {
  .container {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
  }
}

@include layout.respond-to(large) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
}
