.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;

}


// Definir un mixin para breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 428px) { @content; }
  } @else if $breakpoint == medium {
    @media (min-width: 429px) and (max-width: 768px) { @content; }
  } @else if $breakpoint == large {
    @media (min-width: 769px) { @content; }
  }
}








@font-face {
  font-family: 'Monster Clubhouse';
  src: url('../../assets/fonts/MonsterClubhouse-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins, Regular';
  src: url('../../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
