@use "../Layout/styles.scss" as layout;

@include layout.respond-to(small) {
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 0;
    height: 323px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
    margin-top: 20px;
  }
  .card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 12px;
    background: linear-gradient(to bottom, #e9f1fa, #a9a9a911);
    box-shadow: 4px 6px 10px #bfc4cad1;
    overflow: visible;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin-bottom: 0;

    &__imagen {
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
      }
    }

    &__container_title {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    &__first_title {
      font-family: "Poppins", sans-serif;
      text-align: center;
      color: #d84a4a;
      font-weight: 400;
      font-style: normal;
      line-height: 25px;
      font-variant: normal;
      font-size: 25px;
    }
    &__second_title {
      font-family: "Monster Clubhouse", cursive;
      text-align: center;
      color: #d84a4a;
      font-weight: 400;
      font-style: normal;
      line-height: 30px;
      font-variant: normal;
      font-size: 25px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;

      .footer__score {
        margin-left: 20px;
        margin-bottom: 20px;
        gap: 10px;
        display: flex;
        align-items: center;
      }

      .footer__score_icon {
        width: 23px;
        height: 23px;
      }
      .footer__score_text {
        width: 37px;
        height: 39px;
        font-family: "Poppins", sans-serif;
        text-align: left;
        color: #425966;
        font-weight: 400;
        font-style: normal;
        line-height: 39px;
        font-variant: normal;
        font-size: 26px;
      }

      .footer__favorite_icon {
        width: 19px;
        height: 17px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
    &__hover {
      display: none;
    }

    &:hover &__hover {
      display: none;
    }

    &__item {
      display: none;
    }

    &__icono {
      display: none;
    }

    &__label {
      display: none;
    }

    &__valor {
      display: none;
    }
  }
}

@include layout.respond-to(medium) {
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 0;
    height: 323px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 55px;
  }
  .card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 12px;
    background: linear-gradient(to bottom, #e9f1fa, #a9a9a911);
    box-shadow: 4px 6px 10px #bfc4cad1;
    overflow: visible;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin-bottom: 0;

    &__imagen {
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
      }
    }

    &__container_title {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    &__first_title {
      font-family: "Poppins", sans-serif;
      text-align: center;
      color: #d84a4a;
      font-weight: 400;
      font-style: normal;
      line-height: 25px;
      font-variant: normal;
      font-size: 25px;
    }
    &__second_title {
      font-family: "Monster Clubhouse", cursive;
      text-align: center;
      color: #d84a4a;
      font-weight: 400;
      font-style: normal;
      line-height: 30px;
      font-variant: normal;
      font-size: 25px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;

      .footer__score {
        margin-left: 20px;
        margin-bottom: 20px;
        gap: 10px;
        display: flex;
        align-items: center;
      }

      .footer__score_icon {
        width: 23px;
        height: 23px;
      }
      .footer__score_text {
        width: 37px;
        height: 39px;
        font-family: "Poppins", sans-serif;
        text-align: left;
        color: #425966;
        font-weight: 400;
        font-style: normal;
        line-height: 39px;
        font-variant: normal;
        font-size: 26px;
      }

      .footer__favorite_icon {
        width: 19px;
        height: 17px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
    &__hover {
      display: none;
    }

    &:hover &__hover {
      display: none;
    }

    &__item {
      display: none;
    }

    &__icono {
      display: none;
    }

    &__label {
      display: none;
    }

    &__valor {
      display: none;
    }
  }
}

@include layout.respond-to(large) {
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 0;
    height: 323px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;

    //  margin-top: 0px;
  }
  .card {
    position: relative;
    width: 230px;
    height: 250px;
    border-radius: 12px;
    background: linear-gradient(to bottom, #e9f1fa, #a9a9a911);
    box-shadow: 4px 6px 10px #bfc4cad1;
    overflow: visible;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin-bottom: 0;

    &__imagen {
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
      }
    }

    &__container_title {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    &__first_title {
      font-family: "Poppins", sans-serif;
      text-align: center;
      color: #d84a4a;
      font-weight: 400;
      font-style: normal;
      line-height: 25px;
      font-variant: normal;
      font-size: 25px;
    }
    &__second_title {
      font-family: "Monster Clubhouse", cursive;
      text-align: center;
      color: #d84a4a;
      font-weight: 400;
      font-style: normal;
      line-height: 25px;
      font-variant: normal;
      font-size: 25px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;

      .footer__score {
        margin-left: 20px;
        margin-bottom: 20px;
        gap: 10px;
        display: flex;
        align-items: center;
      }

      .footer__score_icon {
        width: 23px;
        height: 23px;
      }
      .footer__score_text {
        width: 37px;
        height: 39px;
        font-family: "Poppins", sans-serif;
        text-align: left;
        color: #425966;
        font-weight: 400;
        font-style: normal;
        line-height: 39px;
        font-variant: normal;
        font-size: 26px;
      }

      .footer__favorite_icon {
        width: 19px;
        height: 17px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
    &__hover {
      position: absolute;
      top: 90px;
      left: 0;
      width: 230px;
      height: 240px;
      background: linear-gradient(to bottom, #e9f1fa, #ffffff);
      box-shadow: 4px 6px 10px #bfc4cad1;
      opacity: 0;
      transform: translateY(-50%);
      flex-direction: column;
      justify-content: space-around;
      transition: all 0.3s ease;
      display: flex;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      padding-bottom: 10px;
    }

    &:hover &__hover {
      opacity: 1;
      transform: translateY(0);
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      top: 5px;
    }

    &__icono {
      width: 20px;
      height: 20px;
    }

    &__label {
      font-family: "Monster Clubhouse", cursive;
      font-style: normal;
      font-variant: normal;
      font-size: 20px;
      color: #d84a4a;
    }

    &__valor {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-variant: normal;
      font-size: 16px;
      color: #425966;
    }
  }
}
