@use "../Layout/styles.scss" as layout;

// Estas clases se utilizan en todos los tamaños de pantalla
.nav__recipe__span {
  font-family: "Monster Clubhouse", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #425966;
  text-align: left;
}
.nav__app__span {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #d84a4a;
}

// mobile
@include layout.respond-to(small) {
  .nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 69px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .ilHome {
    display: flex;
    align-items: self-start;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .ilLogo {
    padding-left: 40px;
    display: flex;
    align-items: self-start;
    justify-content: center;
  }
  .nav {
    display: none;
  }
  .navlarge {
    display: none;
  }
  .nav__home__span {
    display: none;
  }
}
// tablet
@include layout.respond-to(medium) {
  .nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 69px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .ilHome {
    padding-left: 220px;
    display: flex;
    align-items: center;
  }
  .ilLogo {
    padding-left: 63px;
    margin-top: 10px;
  }

  .nav {
    display: none;
  }
  .navlarge {
    display: none;
  }

  .navlarge {
    display: none;
  }

  .nav__home__span {
    display: none;
  }
}

// menu destokp
@include layout.respond-to(large) {
  .navlarge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-clip: padding-box;
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px #8395a7;
    cursor: pointer;
    ul {
      list-style: none;
      display: flex;
      padding-right: 70px;
    }
  }
  .navlarge__nav ul li {
    display: flex;
  }
  .nav__home__span {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #d84a4a;
  }
  .ilLogo {
    padding-left: 70px;
    margin-top: 10px;
  }
  .texto {
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    color: #425966;
    opacity: 1;
    margin: 19px;
  }

  .nav-container {
    display: none;
  }
  .ilHome {
    display: none;
  }
}
