@use "../Layout/styles.scss" as layout;

.nav__recipe__span {
  font-family: "Monster Clubhouse", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #425966;
  text-align: left;
}
.nav__app__span {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #d84a4a;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0px 3px 6px #8395a7;
  grid-template-rows: 1fr;
}

@include layout.respond-to(small) {
  .logo {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 65px;
  }
  .home {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .nav {
    display: none;
  }
  .navlarge {
    display: none;
  }
  .nav__home__span {
    display: none;
  }
  .navlarge__nav ul li {
    display: none;
  }
  .texto {
    display: none;
  }
}
@include layout.respond-to(medium) {
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 65px;
  }
  .home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .nav {
    display: none;
  }
  .navlarge {
    display: none;
  }
  .nav__home__span {
    display: none;
  }
  .navlarge__nav ul li {
    display: none;
  }
  .texto {
    display: none;
  }
}
@include layout.respond-to(large) {
  .navlarge {
    width: 100%;
    height: 69px;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 6px #8395a7;
    cursor: pointer;
    ul {
      list-style: none;
      display: flex;
    }
  }

  .navlarge__nav ul li {
    display: flex;
    margin-right: 2rem;
    align-items: center;
  }
  .logo {
    padding-top: 20px;
    width: 100%;
    margin-left: 10%;
  }
  .nav__home__span {
    font-family: "Poppins", sans-serif;
    font-size: clamp(13px, 2vw, 13px);
    font-weight: 500;
    color: #d84a4a;
  }
  .texto {
    font-family: "Poppins", sans-serif;
    font-size: clamp(13px, 2vw, 13px);
    font-weight: 500;
    font-style: normal;
    color: #425966;
    opacity: 1;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav-container {
    display: none;
  }
  .home {
    display: none;
  }
}
