@use "../Layout/styles.scss" as layout;

.menu-container {
  @include layout.respond-to(small) {
    width: 100vw;
    margin-top: 270px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    row-gap: 10px;
  }

  @include layout.respond-to(medium) {
    width: 100vw;
    margin-top: 265px;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 36px 10px 36px;
    column-gap: 10px;
  }

  @include layout.respond-to(large) {
    display: none;
  }
}
